@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	padding: 0;
	margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h2{
   font-family: "Kaushan Script", cursive;
  font-weight: 600;
  font-style: normal;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}
h2:hover{
	text-transform: uppercase;
	color: darkred;
}
.table{
	margin: auto;
	margin-top: 90px;
	cursor: pointer;
}
.table2{
	margin: auto;
}
.skyBlue{
	background-color:#1B9AAA
}
.skyBlue:hover{
	background-color:#E55381;
}
.LightGrey{
	background-color:#63ad6d;
}
.LightGrey:hover{
	background-color: #fcbe03;
}
.blue{
	background-color: rgb(118, 118, 185)
}
.blue:hover{
	background-color:#600170;
}
.purple{
background-color: #Ff00aa;
}
.purple:hover{
	background-color: #FCAA67;
}
.red{
	background-color: rgb(209, 112, 112);
}
.red:hover{
	background-color: #6b3074;
}
.orange{
	background-color: #f77f00
}
.orange:hover{
	background-color: #ffb703;
}
.green{
	background-color: rgb(65, 236, 65);
}
.green:hover{
	background-color:#eda8bc;
}
.grey{
	background-color: grey;
}
.grey:hover{
	background-color: #3db7e4;
}
.pink{
	background-color:darkgoldenrod;
}
.pink:hover{
	background-color:#85281d;
}
.purple2{
	background-color: purple;
}
.lower1{
	background-color: #e2e603;
}
.lower1:hover{
	background-color:#24e0ff;
}
.lower2{
	background-color: #173f5f;
}
.lower2:hover{
	background: #a569bd;
}
.group2{
	border-radius: 9px;
}